<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>for</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="example">
    <ul id="example-1">
        <li v-for="item of items">
            {{ item.message }}
        </li>
        <div v-for="item in items" :key="item.id">
            {{ item.message }}
        </div>

        <ul>
            <template v-for="item in items">
                <li>{{ item.msg }}</li>
                <li class="divider" role="presentation"></li>
            </template>
        </ul>
    </ul>

    <ul id="example-2">
        <li v-for="(item, index) in items">
            {{ parentMessage }} - {{ index }} - {{ item.message }}
        </li>

    </ul>

    <ul id="v-for-object" class="demo">
        <li v-for="value in object">
            {{ value }}
        </li>
        <div v-for="(value, key) in object">
            {{ key }}: {{ value }}
        </div>
        <div v-for="(value, key, index) in object">
            {{ index }}. {{ key }}: {{ value }}
        </div>
    </ul>

    <ul id="set">
        <li v-for="(item, index) in items">
            {{ index }} - {{ item }}
        </li>
    </ul>

    <ul id="sortNum">
        <li v-for="n in evenNumbers">{{ n }}</li>
        <li v-for="n in even(numbers)">{{ n }}</li>

        <div>
            <span v-for="n in 10">{{ n }} </span>
        </div>

    </ul>

    <div id="todo-list-example">
        <form v-on:submit.prevent="addNewTodo">
            <label for="new-todo">Add a todo</label>
            <input
                    v-model="newTodoText"
                    id="new-todo"
                    placeholder="E.g. Feed the cat"
            >
            <button>Add</button>
        </form>
        <ul>
            <li
                    is="todo-item"
                    v-for="(todo, index) in todos"
                    v-bind:key="todo.id"
                    v-bind:title="todo.title"
                    v-on:remove="todos.splice(index, 1)"
            ></li>
        </ul>
    </div>

</div>


<script>
    Vue.component('todo-item',{
        template: '\
            <li>\
              {{ title }}\
              <button v-on:click="$emit(\'remove\')">Remove</button>\
            </li>\
          ',
        props: ['title'],
    })
    new Vue({
        el:'#todo-list-example',
        data:{
            newTodoText: '',
            todos: [
                {
                    id: 1,
                    title: 'Do the dishes',
                },
                {
                    id: 2,
                    title: 'Take out the trash',
                },
                {
                    id: 3,
                    title: 'Mow the lawn'
                }
            ],
            nextTodoId: 4
        },
        methods: {
            addNewTodo: function () {
                this.todos.push({
                    id: this.nextTodoId++,
                    title: this.newTodoText
                });
                this.newTodoText = ''
            }
        }
        
    });

    var example1 = new Vue({
        el:   '#example-1',
        data: {
              items:    [
                { message: 'Foo',id:2,msg:'qqq' },
                { message: 'Bar',id:3,msg:'www' }
            ]
        }
    })

    var example2 = new Vue({
        el: '#example-2',
        data: {
            parentMessage: 'Parent',
            items: [
                { message: 'Foo' },
                { message: 'Bar' }
            ]
        }
    })

    new Vue({
        el: '#v-for-object',
        data: {
            object: {
                firstName: 'John',
                lastName: 'Doe',
                age: 30
            }
        }
    })

    var vm = new Vue({
        el: '#set',
        data: {
            items: ['a', 'b', 'c']
        }
    })

    var vm2 = new Vue({
        data: {
            userProfile: {
                name: 'Anika'
            }
        }
    })

    new Vue({
        el:"#sortNum",
        data: {
            numbers: [ 1, 2, 3, 4, 5 ]
        },
        computed: {
            evenNumbers: function () {
                return this.numbers.filter(function (number) {
                    return number % 2 === 0
                })
            }
        },
        methods: {
            even: function (numbers) {
                return numbers.filter(function (number) {
                    return number % 2 === 0
                })
            }
        }
    })

</script>
</body>


</html>