<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>for</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="example">
    <ul id="example-1">
        <li v-for="item of items">
            {{ item.message }}
        </li>
        <div v-for="item in items" :key="item.id">
            {{ item.message }}
        </div>
    </ul>

    <ul id="example-2">
        <li v-for="(item, index) in items">
            {{ parentMessage }} - {{ index }} - {{ item.message }}
        </li>
    </ul>

    <ul id="v-for-object" class="demo">
        <li v-for="value in object">
            {{ value }}
        </li>
        <div v-for="(value, key) in object">
            {{ key }}: {{ value }}
        </div>
        <div v-for="(value, key, index) in object">
            {{ index }}. {{ key }}: {{ value }}
        </div>
    </ul>

    <ul id="set">
        <li v-for="(item, index) in items">
            {{ index }} - {{ item }}
        </li>
    </ul>

    <ul id="sortNum">
        <li v-for="n in evenNumbers">{{ n }}</li>
        <li v-for="n in even(numbers)">{{ n }}</li>
    </ul>

</div>


<script>
    var example1 = new Vue({
        el:   '#example-1',
        data: {
              items:    [
                { message: 'Foo',id:2 },
                { message: 'Bar',id:3 }
            ]
        }
    })

    var example2 = new Vue({
        el: '#example-2',
        data: {
            parentMessage: 'Parent',
            items: [
                { message: 'Foo' },
                { message: 'Bar' }
            ]
        }
    })

    new Vue({
        el: '#v-for-object',
        data: {
            object: {
                firstName: 'John',
                lastName: 'Doe',
                age: 30
            }
        }
    })

    var vm = new Vue({
        el: '#set',
        data: {
            items: ['a', 'b', 'c']
        }
    })

    var vm2 = new Vue({
        data: {
            userProfile: {
                name: 'Anika'
            }
        }
    })

    new Vue({
        el:"#sortNum",
        data: {
            numbers: [ 1, 2, 3, 4, 5 ]
        },
        computed: {
            evenNumbers: function () {
                return this.numbers.filter(function (number) {
                    return number % 2 === 0
                })
            }
        },
        methods: {
            even: function (numbers) {
                return numbers.filter(function (number) {
                    return number % 2 === 0
                })
            }
        }
    })

</script>
</body>


</html>