<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件deep</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="components-demo">
        <button-counter></button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter>

        <blog-post
                v-for="post in posts"
                v-bind:key="post.id"
                v-bind:post="post"
        ></blog-post>
    </div>

    <div id="blog-posts-events-demo">
        <custom-input v-model="searchText"></custom-input>
        <div>{{searchText}}</div>
        <alert-box>
            Something bad happened.
        </alert-box>
        <div :style="{ fontSize: postFontSize + 'em' }">
            <blog-post
                    v-for="post in posts"
                    v-bind:key="post.id"
                    v-bind:post="post"
                    v-on:enlarge-text="onEnlargeText"
            ></blog-post>
        </div>
    </div>

<script>
    // 定义一个名为 button-counter 的新组件
    Vue.component('button-counter', {
        data: function () {
            return {
                count: 0
            }
        },
        template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
    })

    Vue.component('blog-post', {
        props: ['post'],
        template: `
            <div class="blog-post">
              <h3>{{ post.title }}</h3>
              <div v-html="post.content"></div>
            </div>
          `
    })

    new Vue({
        el: "#components-demo",
        data: {
            posts: [
                { id: 1, title: 'My journey with Vue', content: 'My journey with Vue1' },
                { id: 2, title: 'Blogging with Vue', content: 'My journey with Vue2' },
                { id: 3, title: 'Why Vue is so fun', content: 'My journey with Vue3' },
            ]
        }
    })

    Vue.component('blog-post', {
        props: ['post'],
        template: `
            <div class="blog-post">
              <h3>{{ post.title }}</h3>
              <button v-on:click="$emit('enlarge-text', 0.1)">
                Enlarge text
              </button>
              <div v-html="post.content"></div>
            </div>
          `
    })

    Vue.component('custom-input', {
        props: ['value'],
        template: `
            <input
              v-bind:value="value"
              v-on:input="$emit('input', $event.target.value)"
            >
          `
    })

    Vue.component('alert-box', {
        template: `
            <div class="demo-alert-box">
              <strong>Error!</strong>
              <slot></slot>
            </div>
          `
    })

    new Vue({
        el: '#blog-posts-events-demo',
        data: {
            posts: [
                { id: 1, title: 'My journey with Vue1', content: 'My journey with Vue11' },
                { id: 2, title: 'Blogging with Vue2', content: 'My journey with Vue22' },
                { id: 3, title: 'Why Vue is so fun3', content: 'My journey with Vue33' },
            ],
            postFontSize: 1,
            searchText:''
        },
        methods: {
            onEnlargeText: function (enlargeAmount) {
                this.postFontSize += enlargeAmount
            }
        }
    })

</script>
</body>


</html>